*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;scroll-behavior: smooth;
}

body{
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
  }
  
.gradient__bg {
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 90%);
  }

  .gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .section_padding {
    padding: 4rem 6rem ;
  }

  .section_margin {
    margin: 4rem 6rem ;
  }


  .scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.header-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-img img{
    width: 400px;
    border-radius: 50%;
}
.header{
  display: flex;
  gap: 5rem;

}

.header-content h1{
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -0.04em;
}
.header-content p{
  color: var(--color-text);
  font-family: var(--font-family);
  margin-top: 1.5rem;
}
.header-content .header-input{
  display: flex;
  margin-top: 2.2rem;
  font-family: var(--font-family);
}
.header-input input{
  padding: 0.8rem 1rem;
  width: 20rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: none;
  background-color: #052D56;
  color: #3D6184;
  font-size: 15px;
}
.header-input button{
  background-color: #FF4820;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: normal;
  font-size: 15px;
  padding: 0.8rem 1rem;
  cursor: pointer;
}


  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
@media screen and (max-width: 1100px){
  .header{
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
    .section_padding {
      padding: 4rem;
    }
  
    .section_margin {
      margin: 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .section_padding {
      padding: 4rem 2rem;
    }
  
    .section_margin {
      margin: 4rem 2rem;
    } 
    .header-content h1{
      font-size: 34px;
      line-height: 45px;
    }
    .header-content p{
      font-size: 14px;
    }
    .header-img img{
      width: 300px;
    } 

  }
  
@media screen and (max-width: 380px){
        
    .header-input input{
      padding: 0.6rem 0.8rem;
      width: 10rem;
      font-size: 12px;
    }
    .header-input button{
      font-size: 12px;
      padding: 0.6rem 0.8rem;
    }
    .header-img img{
      width: 250px;
    } 
}